# Map @rover scope to the internal Artifactory registry.
# Login: npm login --registry https://artifactory.stargate.toyota/artifactory/api/npm/rover-npm-release --scope '@rover' --auth-type web
@rover:registry=https://artifactory.stargate.toyota/artifactory/api/npm/rover-npm-release
